* {
    box-sizing: border-box;
}



body {
    font-family: Arial, sans-serif;
    margin: 0px;
    
  }
  
  header,footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    background-color: #333;
    color: #fff;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 0px;
    display: flex;
  }
  
  nav li {
    margin-right: 5px;
  }
  @media (min-width:768px){
    nav li{
    margin-right: 15px;
    }
  }
  
  nav a,footer p {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
  }

  .main-heading{
    font-size: 20px;
  }
  @media (min-width:768px){
    .main-heading{
        font-size: 29px;
    }
    nav a,footer p{
        font-size: 18px;
    }
  }
  

  .card h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  


  



.para {
    color: #7b8794;
   font-size: 12px;
}

.heading {

    font-size: 18px;
    color: #323f4b;
}
@media (min-width:768px){
    .para{
        font-size: 17px;
    }
    .heading{
        font-size: 25px;
    }
}

.button {
    border-radius: 8px;
    border-width: 0px;
    background-color: #323f4b;
    color: #ffffff;
    cursor: pointer;
    font-size:10px;
    height: 26px;
    width: 70px
}
@media (min-width:768px){
    .button{
        font-size: 15px;
        height: 33px;
        width: 100px;
    }
}
.card-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    
}
.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 25px;
    
    background-color: #ffffff;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
 
    padding: 5px;
    width:80%;
    
}

 
.footer{
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
@media  (min-width:768px)  {
    .card-container{
        justify-content: flex-start;
    }
    .card{
        width: 42%;
    }   
} 
@media (min-width:915px){
    .card{
        width: 45%;
    }
}

.news-image{
    width: 100%;
    height:125px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
@media (min-width:768px) {
    .news-image{
        height: 250px;
    }
}
.card:hover{
    background-color: aliceblue;
    transform: scale(1.01);
}

.news-content-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.back-btn{
   margin-top: 10px;
   margin-left: 30px;
}
.content-image{
    width: 90%;
}
@media (min-width:768px){
    .content-image{
        width: 65%;
    }
}

.content-heading{
    text-align: center;
   font-size: 25px;
   margin-bottom: 10px;
}
.full-para{
    line-height: 1.5;
}
@media (min-width:768px){
    .content-heading{
        font-size: 45px;
        margin-bottom: 20px;
    }
}